/*Add Simplicity font */
@font-face {
    font-family: 'Simplicity';
    src: url('Simplicity.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-size: 16px;
    font-family: "Simplicity", sans-serif;
    background-image: linear-gradient(-20deg, rgb(255, 192, 203) 20%, rgba(255, 192, 203, 0.5) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.T404 {
    font-size: 8em;
    color: red; /* Text color */
    fill: red; /* Heart color */
}

.Heart {
    width: 1em;
    margin: 0 1.75rem;
}

.paragraph {
    font-weight: 600;
    letter-spacing: 2px;
    width: 40%;
}

.paragraph h2 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: center;
    }

    .T404 {
        font-size: 9vmax;
    }

    .paragraph {
        width: 80%;
    }
}