* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: rgb(12, 12, 12);
    cursor: default;
}

::-moz-selection {
    background: rgb(236, 228, 206);
    color: rgb(27, 30, 33);
}

::selection {
    background: rgb(236, 228, 206);
    color: rgb(27, 30, 33);
}

a {
    text-decoration: none
}

.typed-cursor {
    display: none;
}

/*The style of the typed text*/
.type {
    font-size: 1.1rem;
    color: #d6d8db;
    font-family: "consolas", "sans-serif";
}

.text-success {
    color: #28a745 !important;
}

.d-none {
    display: none !important;
}

/*404 error text style and buttons*/
.text-Error {
    position: absolute;
    display: block;
    padding: 6px;
    color: #d6d8db;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: #f8f9fa 1px solid;
    padding: .375rem .75rem;
    margin: .375rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #f8f9fa;
    transition: all .5s ease-in-out;
}

/*Type indicator style*/
.type-cursor {
    content: '';
    width: 15px;
    height: 6px;
    display: inline-block;
    position: relative;
    left: -6px;
    background-color: rgb(236, 228, 206);
    -webkit-animation: type-cursor 1s infinite steps(1);
    -o-animation: type-cursor 1s infinite steps(1);
    animation: type-cursor 1s infinite steps(1);
}

/*Typing indicator animation*/
@keyframes type-cursor {
    0%, 100% {
        background-color: rgb(236, 228, 206);
    }
    50% {
        background-color: rgb(12, 12, 12);
    }
}