@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #0e0e0e 0%, #0f0f0f 74%);
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.circle::after {
    content: '';
    position: relative;
    display: block;
    width: 450px;
    height: 450px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-shadow: inset 5px 20px 40px rgba(0, 0, 0, 0.25),
    inset 5px 0 5px rgba(15, 15, 15, 0.3),
    inset 5px 5px 20px rgba(15, 15, 15, 0.25),
    2px 2px 5px rgba(200, 200, 200, 0.2);
}

.circle::before {
    content: '';
    position: absolute;
    display: block;
    width: 600px;
    height: 600px;
    background: rgba(10, 10, 10, 0.2);
    border-radius: 50%;
    box-shadow: inset 5px 20px 40px rgba(0, 0, 0, 0.25),
    inset 5px 0 5px rgba(15, 15, 15, 0.3),
    inset 5px 5px 20px rgba(15, 15, 15, 0.25),
    2px 2px 5px rgba(200, 200, 200, 0.2);
}

.p404 {
    font-size: 8em;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    animation: anime404 0.6s linear both;
    animation-delay: 0.8s;
    user-select: none;
}

@keyframes anime404 {
    0% {
        opacity: 0;
        transform: scale(5) rotateZ(-360deg);
    }
}

@media (max-width: 768px) {
    .p404 {
        font-size: 7em;
    }
}
