/* Add `Vazirmatn` font */
@font-face {
    font-family: Vazirmatn;
    src: url('Font/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Add `fontawesome` font */
@font-face {
    font-family: 'IconFont';
    src: url('Font/fa-light-300.eot'); /* IE9 Compat Modes */
    src: url('Font/fa-light-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Font/fa-light-300.woff2') format('woff2'), /* Super Modern Browsers */ url('Font/fa-light-300.woff') format('woff'), /* Pretty Modern Browsers */ url('Font/fa-light-300.ttf') format('truetype'); /* Safari, Android, iOS */
}

i {
    font-family: IconFont, serif !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f9fff6;
    --fore-color: #0f0f0f;
}

body {
    font-size: 16px;
    direction: rtl;
    font-family: Vazirmatn, sans-serif;
    background-color: var(--background-color);
    color: var(--fore-color);;
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: var(--fore-color);
}

a, path {
    transition: 200ms linear;
}

::-webkit-scrollbar {
    background: var(--bs-gray-dark);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.2rem;
    background: var(--bs-gray);
}

/* -------- header -------- */
header {
    display: flex;
    height: 100vh;
    color: #f9fff6;
    background-color: black;
    justify-content: center;
    align-items: center;
}

/* ------ GitHubBox ------ */
.GitHubBox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem;
    display: flex;
    align-items: center;
}

/* ---- GitHub button ---- */
.GitHub-btn {
    margin: 0 0.4rem;
    padding: 0.4rem 0.625rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    color: #fefefe;
}

.GitHub-btn.GitHub {
    border: 1px #fefefe solid;
}

.GitHub-btn.GitHub:hover {
    background: #fefefe;
    color: #0f0f0f;
}

.GitHub-btn.GitHub:hover svg path {
    fill: #0f0f0f;
}

/* -- GitHub button Star -- */
.GitHub-btn.Star {
    border: 1px #e3b341 solid;
}

.GitHub-btn.Star:hover {
    background: #e3b341;
    color: #0f0f0f;
}

/* GitHub button svg */
.GitHub-btn.Star:hover svg path {
    fill: #0f0f0f;
}

.GitHubBox a svg {
    margin-right: 6px;
}

/* line */
header .line {
    background: #f9fff6 !important;
}

/* Text */
header h1 {
    position: absolute;
    font-size: 5vmax;
}

header h3 {
    position: absolute;
    bottom: 0;
}

/* -------- main -------- */
main {
    padding: 1.2rem;
}

/* ------ title ------ */
.categories-title {
    background: #f9fff6;
    color: var(--fore-color);
    z-index: 5;
    position: sticky;
    top: 0;
}

.line {
    display: inline-block;
    border-radius: .2rem;
    width: 25px;
    height: 8px;
    background-color: var(--fore-color);
    vertical-align: middle;
    margin: 0 7px;
}

/* ------ page ------ */
/* ---- header ---- */
.page-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--fore-color);
    box-shadow: 0 25px 20px rgba(100, 100, 100, 0.3);
}

/* -- Supported devices -- */
.Supported_devices {
    width: 53%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 20px;
    z-index: 3;
    border-radius: 0.45rem;
    background: var(--background-color);
}

.Supported_devices::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    right: -15px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -6px 5px 0 var(--background-color);
}

.Supported_devices::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    left: -15px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 6px 5px 0 var(--background-color);
}

.Supported_devices .fa {
    font-weight: 600;
}

/*Full Responsive*/
.fa.Full {
    color: rgba(227, 181, 5);
}

.fa.Full:hover::after {
    content: 'Full Responsive';
}

/*Medium Responsive*/
.fa.Medium {
    color: rgba(6, 6, 153, 0.8);
}

.fa.Medium:hover::after {
    content: 'Medium Responsive';
}

/*low Responsive*/
.fa.low {
    color: rgba(55, 55, 55, 0.3);
}

.fa.low:hover::after {
    content: 'low Responsive';
}

/* popup */
.fa.Full:hover::after, .fa.Medium:hover::after, .fa.low:hover::after {
    font-family: Vazirmatn, sans-serif;
    background: #000000ee;
    width: max-content;
    height: 30px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 0.3rem;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fefefe;
    z-index: 99;
}

/* -- image -- */
.page-card a .image {
    border-radius: 0.85rem 0.85rem 0 0;
    overflow: hidden;
}

.lazy-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.85rem 0.85rem 0 0;
    padding: 0;
    background-color: #000;
}

img.lazy-image {
    opacity: 0.1;
    will-change: opacity;
    transition: all 0.3s;
}

img.lazy-image.loaded {
    opacity: 1;
}

.page-card a:hover .image .lazy-image {
    transform: scale(1.2) rotateZ(-5deg);
}

/* ---- footer ---- */
.page-card-footer {
    height: 60px;
    position: relative;
    bottom: 30px;
    z-index: 0;
    background: var(--background-color);
    color: var(--fore-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -20px;
    border-radius: 0 0 0.85rem 0.85rem;
}

/* -- Float BTN -- */
.Float_BTN {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -20px;
    right: 0;
}

.Float_BTN .BTN {
    width: 40px;
    height: 40px;
    margin: 5px 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fore-color);
    background: var(--background-color);
    box-shadow: 0 0 8px rgba(100, 100, 100, 0.3);
    border-radius: 5px;
}

.Float_BTN .BTN:hover {
    color: #0a58ca;
    transform: scale(1.07);
}

/* ---- Attribute ---- */
.attr_img {
    background: #dfdfdf;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

/* -------- Dark mode -------- */
.Dark:root {
    --background-color: #0a0a0a;
    --fore-color: #fefefe;
}

.Dark, .Dark .categories-title {
    background-color: var(--background-color);
    color: var(--fore-color);
}

.Dark .attr_img {
    background-color: #0f0f0f;
}

.Dark .page-card-header {
    box-shadow: 0 10px 10px rgba(25, 25, 25, 0.8);
}

.Dark .page-card-footer {
    box-shadow: rgba(17, 17, 17, 0.4) 0 10px 10px;
}

.Dark .Float_BTN .BTN {
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.6);
}