/* Add `Vazirmatn` font */
@font-face {
    font-family: Vazirmatn;
    src: url('Font/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Add `fontawesome` font */
@font-face {
    font-family: 'IconFont';
    src: url('Font/fa-light-300.eot'); /* IE9 Compat Modes */
    src: url('Font/fa-light-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Font/fa-light-300.woff2') format('woff2'), /* Super Modern Browsers */ url('Font/fa-light-300.woff') format('woff'), /* Pretty Modern Browsers */ url('Font/fa-light-300.ttf') format('truetype'); /* Safari, Android, iOS */
}

i {
    font-family: IconFont, serif !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    direction: rtl;
    font-family: Vazirmatn, sans-serif;
    background-color: #f9fff6;
    color: #090909;
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: #1b2127;
}

a, path {
    transition: 200ms linear;
}

::-webkit-scrollbar {
    background: var(--bs-gray-dark);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.2rem;
    background: var(--bs-gray);
}

/* -------- header -------- */
header {
    display: flex;
    height: 100vh;
    color: #f9fff6;
    background-color: black;
    justify-content: center;
    align-items: center;
}

/* ------ GitHubBox ------ */
.GitHubBox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem;
    display: flex;
    align-items: center;
}

/* ---- GitHub button ---- */
.GitHub-btn {
    margin: 0 0.4rem;
    padding: 0.4rem 0.625rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    color: #fefefe;
}

.GitHub-btn.GitHub {
    border: 1px #fefefe solid;
}

.GitHub-btn.GitHub:hover {
    background: #fefefe;
    color: #0f0f0f;
}

.GitHub-btn.GitHub:hover svg path {
    fill: #0f0f0f;
}

/* -- GitHub button Star -- */
.GitHub-btn.Star {
    border: 1px #e3b341 solid;
}

.GitHub-btn.Star:hover {
    background: #e3b341;
    color: #0f0f0f;
}

/* GitHub button svg */
.GitHub-btn.Star:hover svg path {
    fill: #0f0f0f;
}

.GitHubBox a svg {
    margin-right: 6px;
}

/* line */
header .line {
    background: #f9fff6 !important;
}

/* Text */
header h1 {
    position: absolute;
    font-size: 5vw;
}

header h3 {
    position: absolute;
    bottom: 0;
}

/* -------- main -------- */
main {
    padding: 1.2rem;
}

/* ------ title ------ */
.categories-title {
    background: #f9fff6;
    z-index: 1;
    position: sticky;
    top: 0;
}

.line {
    display: inline-block;
    border-radius: .2rem;
    width: 25px;
    height: 8px;
    background-color: #090909;
    vertical-align: middle;
    margin: 0 7px;
}

/* ---- image ---- */
.page a .image {
    border-radius: 1.25rem;
    overflow: hidden;
}

.lazy-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.25rem;
    padding: 0;
    background-color: #000;
}

img.lazy-image {
    opacity: 0.1;
    will-change: opacity;
    transition: all 0.3s;
}

img.lazy-image.loaded {
    opacity: 1;
}

.page a:hover .image .lazy-image {
    transform: scale(1.2) rotateZ(-5deg);
}

/* ---- Attribute ---- */
.attr_img {
    background: #dfdfdf;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

/* -------- Dark mode -------- */
.Dark a {
    color: #fefefe;
}

.Dark, .Dark .categories-title {
    background-color: #0a0a0a;
    color: #fefefe;
}

.Dark .line {
    background-color: #fefefe;
}

.Dark .attr_img {
    background-color: #0f0f0f;
}