@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden !important;
    background: repeating-linear-gradient(45deg, #939393 3px, #fff 10px, #eee 15px, #fff 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: Noise 300ms linear infinite;
    -o-animation: Noise 300ms linear infinite;
    animation: Noise 300ms linear infinite;
}

@keyframes Noise {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 20px;
    }
    100% {
        background-position-x: 45px;
    }
}

.T404 {
    font-size: 10em;
    mix-blend-mode: color-burn;
}

.paragraph {
    font-weight: 800;
    font-size: 2em;
    color: #fff;
    mix-blend-mode: difference;
}

@media (max-width: 768px) {
    .T404 {
        font-size: 8em;
    }

    .paragraph {
        font-size: 1.2em;
    }
}

@media (max-width: 412px) {
    .T404 {
        font-size: 7em;
    }

    .paragraph {
        font-size: 1.1em;
    }
}

@media (max-width: 300px) {
    .T404 {
        font-size: 6em;
    }

    .paragraph {
        font-size: 1em;
    }
}