@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-width: 80%;
    --main-height: 90%;
    --main-radius: 25px;
}

body {
    overflow-x: hidden;
    font-size: 14px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #0f0f0f 74%);
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fefefe;
}

/* card */
.main {
    width: var(--main-width);
    height: var(--main-height);
    border-radius: var(--main-radius);
    background-image: linear-gradient(to top left, rgba(15, 15, 15, 0.5), rgba(0, 0, 0, .7), rgba(10, 10, 10, .5));
    border: 1px solid rgba(150, 150, 150, 0.10);
    box-shadow: rgba(60, 60, 60, 0.1) 2px 2px 5px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    overflow: hidden;
}

/* image */
.main .image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main .image img {
    max-width: 50%;
    user-select: none;
    -webkit-animation: fly 4s linear infinite;
    -o-animation: fly 4s linear infinite;
    animation: fly 4s linear infinite;
}

@keyframes fly {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* text 404 */
.main .text-404 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .text-404 h1 {
    font-size: 9em;
}

.main .text-404 p {
    font-size: 2em;
    font-weight: 600;
}

.main .text-404 .back-btn {
    margin: 1.8rem 0;
    padding: 0.821rem 2rem;
    border-radius: 8px;
    border: 1px solid rgba(150, 150, 150, 0.40);
}

.main .text-404 .back-btn:hover {
    border: 1px solid rgba(150, 150, 150, 0.60);
}

/* Menu bar */
.menu {
    padding: 0.8rem;
    z-index: 4;
    position: absolute;
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo, #toggle {
    margin: 0 .75rem;
}

#toggle {
    height: 30px;
    width: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#toggle .menuBTN {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 2px;
    background: #cecece;
    transition: 0.2s linear;
    border-radius: 1px;
}

#toggle.active .menuBTN {
    transform: rotateZ(45deg);
}

#toggle .menuBTN::after {
    content: '';
    position: relative;
    bottom: 10px;
    display: block;
    width: 20px;
    height: 2px;
    background: #cecece;
    transition: 0.2s linear;
    border-radius: 1px;
}

#toggle.active .menuBTN::after {
    transform: rotateZ(-90deg);
    bottom: 2px;
}

#toggle .menuBTN::before {
    content: '';
    position: relative;
    top: 8px;
    display: block;
    width: 20px;
    height: 2px;
    background: #cecece;
    transition: 0.2s linear;
    border-radius: 1px;
}

#toggle.active .menuBTN::before {
    width: 0;
}

/* Menu page */
.menu-page {
    overflow: hidden;
    width: calc(var(--main-width) - 2px);
    height: 0;
    border-radius: var(--main-radius);
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    transition: 0.2s linear;
    z-index: 2;
}

.menu-page.active {
    padding: 80px 0;
}

.social_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social_box a {
    transition: 0.2s linear;
}

.social_box a:hover {
    transform: scale(1.1);
}

.social_box a svg {
    width: 48px;
    height: 48px;
}

/* start ----- image-box ----- */
.image-box {
    width: 50px;
    height: var(--main-height);
    position: absolute;
    left: 0;
    margin: 0 0.75rem;
    padding: 0.25rem;
    background-color: #000000;
    border: 1px solid rgba(100, 100, 100, 0.10);
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(15, 15, 15, .7), rgba(10, 10, 10, .8));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#close_ImageBox {
    width: 30px;
    height: 22px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -3px;
    padding: 2px;
    background-color: #0a0a0a;
    border: 1px solid rgba(150, 150, 150, 0.10);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s linear;
}

#close_ImageBox:hover {
    border: 1px solid rgba(150, 150, 150, 0.20);
}

.image-box img {
    max-width: 80%;
    animation: GoIN 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) backwards;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.image-box img:hover {
    transform: scale(1.1);
}

@keyframes GoIN {
    0% {
        transform: translateX(-50px);
    }
}

/* ----- image-box ----- end */
@media (max-width: 800px) {
    body {
        flex-direction: column;
    }

    :root {
        --main-width: 100%;
        --main-height: 100%;
        --main-radius: 0;
    }

    /* card */
    .main {
        flex-direction: column;
    }

    /* image */
    .main .image {
        width: 100%;
        height: 40%;
    }

    .main .image img {
        max-height: 80%;
    }

    /* text 404 */
    .main .text-404 {
        width: 100%;
        height: 60%;
        padding: 60px 0 0;
    }

    .main .text-404 h1 {
        font-size: 7em;
    }

    .main .text-404 p {
        font-size: 1.7em;
    }

    .main .text-404 .back-btn {
        margin: 0.8rem 0;
        padding: 0.751rem 1.5rem;
    }

    /* start ----- image-box ----- */
    .image-box {
        width: 100%;
        height: 50px;
        border-radius: 0;
        flex-direction: row;
        position: relative;
    }

    .image-box img {
        max-height: 100%;
    }

    @keyframes GoIN {
        0% {
            transform: translateY(-50px);
        }
        100% {
            transform: translateY(0);
        }
    }
    /* ----- image-box ----- end */
}

@media (max-height: 420px),(max-width: 245px) {
    .main .text-404 {
        height: 100%;
        width: 100%;
    }

    /* image */
    .main .image {
        display: none;
    }

    /* ----- image-box ----- */
    .image-box {
        display: none;
    }
}

@media (max-height: 320px) {
    .main .text-404 h1 {
        font-size: 5em;
    }
    .main .text-404 p {
        display: none;
    }
    .main .text-404 .back-btn {
        margin: 0.2rem 0;
        padding: 0.6rem 0.5rem;
    }
}

@media (min-width: 1440px) {
    .main .text-404 h1 {
        font-size: 13em;
    }

    .main .text-404 p {
        font-size: 3em;
    }

    .main .text-404 .back-btn {
        margin: 2.8rem 0;
        padding: 0.921rem 2.5rem;
        font-size: 2rem;
    }
}