@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
/*Neon font */
@font-face {
    font-family: 'neon';
    src: url('Neoneon-3zaD6.otf') format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Neonderthaw','neon', cursive;
    background: #000;
    color: rgb(230, 230, 230);
    overflow: hidden;
    -webkit-animation: Random_Color 5s linear infinite;
    -o-animation: Random_Color 5s linear infinite;
    animation: Random_Color 5s linear infinite;
}

@keyframes Random_Color {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

.Text_404 {
    padding: 0;
    display: flex;
    margin: 1.725rem 0;
}

.Text_404 span {
    font-size: 6em;
    font-family: 'neon','Neonderthaw', cursive;
    padding: 0 1.725rem;
    animation: animate1 1s linear infinite;
}

.Text_404 span:nth-child(1) {
    animation-delay: 0s;
}

.Text_404 span:nth-child(2) {
    animation-delay: 0.25s;
}

.Text_404 span:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes animate1 {
    0%, 100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px var(--color5),
        0 0 20px var(--color5),
        0 0 40px var(--color5),
        0 0 80px var(--color5),
        0 0 120px var(--color5),
        0 0 200px var(--color5),
        0 0 300px var(--color5),
        0 0 400px var(--color5);
    }
    5%, 95% {
        color: #111;
        filter: blur(0);
        text-shadow: 0 0 10px transparent;
    }
}

.description {
    color: #fff;
    text-shadow: 0 0 10px var(--color2),
    0 0 20px var(--color2),
    0 0 40px var(--color2),
    0 0 80px var(--color2),
    0 0 120px var(--color2),
    0 0 200px var(--color2),
    0 0 300px var(--color2),
    0 0 400px var(--color2);
    font-size: 3em;
    margin: 1.725rem 0;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    margin: .375rem;
    font-size: 2.252em;
    color: var(--color3);
    transition: all .5s ease-in-out;
    text-decoration: none;
}

@media (max-width: 768px) {
    .Text_404 span {
        font-size: 3em;
    }

    .description {
        font-size: 1.5em;
    }

    .btn {
        font-size: 1.252em;
    }
}

:root {
    --color1: #e43636;
    --color2: #5ae8e8;
    --color3: #37d334;
    --color4: #de6ce1;
    --color5: #fce146;
    --color6: #FF1493;
}