* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "vazir", sans-serif;
    background: #2a0707;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden !important;
}

a {
    text-decoration: none;
}

.Circle_Text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.Circle {
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background: var(--red_color1);
    box-shadow: var(--red_color2) 0 0 5px 45px,
    var(--red_color3) 0 0 10px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Circle h1 {
    font-size: 12vw;
    margin: 0;
    color: var(--redText_color);
    user-select: none;
}

.Circle h2 {
    font-size: 3vw;
    margin: 5px 0;
    user-select: none;
}

.Circle p {
    font-size: 1.1vw;
    margin: 5px 0;
    user-select: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: #f8f9fa 1px solid;
    padding: .375rem .75rem;
    margin: .375rem;
    font-size: 1.1vw;
    border-radius: .25rem;
    color: #f8f9fa;
    transition: all .5s ease-in-out;
    user-select: none;
}

.btn:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

@media (max-width: 768px) {
    .Circle {
        width: 350px;
        height: 350px;
    }

    .Circle h1 {
        font-size: 120px;
    }

    .Circle h2 {
        font-size: 16px;
    }

    .Circle p {
        display: none;
    }

    .btn {
        font-size: 10px;
    }
}

:root {
    --red_color1: #de1d1d;
    --red_color2: #c31a1a;
    --red_color3: #961515;
    --red_color4: #691010;
    --redText_color: #2a0707;
    --blue_color1: #06207d;
    --blue_color2: #041655;
    --blue_color3: #020923;
    --blue_color4: #010d2d;
    --blueText_color: #0A3AF5;
}
